<!DOCTYPE html>
<html>
<head>
    <title>Add Department</title>
    <link rel="stylesheet" href="../bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="../departments.php">Departments</a>
    </div>
</nav>

<div class="container mt-4">

    <h2>Add Department</h2>

    <form method="POST">

        <label>Department Name:</label>
        <input type="text" name="name" class="form-control" required><br>

        <label>Location:</label>
        <input type="text" name="location" class="form-control" required><br>

        <label>Email:</label>
        <input type="email" name="email" class="form-control" required><br>

        <button name="submit" class="btn btn-success">Submit</button>
        <a href="../departments.php" class="btn btn-secondary">Cancel</a>

    </form>

</div>

</body>
</html>