<!DOCTYPE html>
<html>
<head>
    <title>DATA_TITLE</title>
    <link href="bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/tp_mvc25/index.php">Dashboard</a>

        <a class="navbar-brand" href="/tp_mvc25/departments.php">Departments</a>

        <a class="navbar-brand" href="/tp_mvc25/lecturers.php">Lecturers</a>

        <a class="navbar-brand" href="/tp_mvc25/schedules.php">Schedules</a>
    </div>
</nav>

<div class="container mt-4">
    <h2>DATA_TITLE</h2>

    <a href="/tp_mvc25/departments/create.php" class="btn btn-primary mb-3">Add Department</a>

    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Department</th>
            <th>Location</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>

        DATA_TABLE
    </table>
</div>

</body>
</html>